{% extends "base.html.twig" %}

{% block title %}
	#{{hashtag}}
	posts

{% endblock %}

{% block body %}
	{% include "partials/_flash.html.twig" %}
	<div class="row">
		<div class="col">
			<h2 class="mb-3">Posts with
				<a href="{{APP_ROOT}}hashtags/show/{{hashtag}}">#{{hashtag}}</a>
			</h2>
		</div>

	</div>
	<div class="row">
		<div class="col-lg-8 col-md-8 mb-3">
			{% if posts %}
				{% include "partials/_posts_section.html.twig" %}
			{% endif %}
		</div>
		{% include "partials/_comments_section.html.twig" %}
	</div>

{% endblock %}
