{% extends "base.html.twig" %}

{% block title %}Log in
{% endblock %}

{% block body %}
	<div class="col-md-6 mx-auto">
		<div class="card card-body bg-light mt-5">
			{% include "partials/_flash.html.twig" %}

			<div class="text-center">
				<h2>
					Log In
				</h2>
				<p>Please fill in your credentials to log in</p>
			</div>
			<form action="/login/create" method="POST">
				<div class="form-group">
					<label for="inputEmail">Email address:</label>
					<input value="{{ email }}" type="email" name="email" id="inputEmail" placeholder="email" autofocus class="form-control form-control-lg" required>
				</div>

				<div class="form-group">
					<label for="inputPassword">Password:</label>
					<div class="input-group">
						<input id="inputPassword" name="password" placeholder="password" type="password" required class="form-control form-control-lg" data-toggle="password">
						<div class="input-group-append">
							<span class="input-group-text">
								<i class="fa fa-eye"></i>
							</span>
						</div>
					</div>
				</div>

				<div class="checkbox">
					<label for="rememberMe">
						<input {{ rememberMe ? 'checked' : '' }} type="checkbox" name="rememberMe" id="rememberMe">
						Remember me
					</label>
				</div>
				<div class="row">
					<div class="col">
						<input type="submit" value="Log in" class="btn btn-success btn-block">
					</div>
					<div class="col">
						<a href="/password/forgot" class="btn btn-light btn-block">Forgot password?</a>
					</div>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
