{% extends "base.html.twig" %}

{% block title %}
	Pages
{% endblock %}


{% block body %}

	<h2>About us</h2>
	<p>
		{{ description }}
	</p>
	<p>
		v.
		{{appVersion}}
	</p>


</p></div></div>{% endblock %}
