{% extends "base.html.twig" %}

{% block title %}
	Pages
{% endblock %}


{% block body %}
	<div class="col-md-6 mx-auto mt-3">


		<h1>About this app</h1>
		<p class="mt-4">
			myPosts is a blog app written in PHP in learning purpoise.
												I specifically avoided any frameworks and did everything on my own
		</p>
		<p>
			Currently myPosts has:
			<ul>
				<li>Solid MVC-barebone based on OOP patterns</li>
				<li>Advanced route system based on regexp and flexible controller/action selecting</li>
				<li>Fully working user registration system with account activation by email (I used MailJet service)</li>
				<li>Password recovery system (also by MailJet service)</li>
				<li>Captcha anti-spam security (only for anonym users)</li>
				<li>Twig as template engine (and I enjoyed it very much)</li>
				<li>Hashtags functionality</li>
				<li>User profiles</li>
				<li>Users photos and avatars by cloud service (admin may switch it to local storing by changing the config variable)</li>
				<li>Basic admin functions</li>
				<li>PDO practise to preventing injections</li>

			</ul>
		</p>
		<p>
			Made by
			<b>Ilya Mur</b>
			I hope you enjoy it!
		</p>
		<p>
			The source is here:
			<a href="https://github.com/IlyaMur/myPosts_App">git</a>
		</p>


	</div>
{% endblock %}
