{% extends "base.html.twig" %}

{% block title %}Page not found
{% endblock %}

{% block body %}
	<div class="card card-body bg-light mt-3">
		<div class="text-center">
			<h1>Page not found</h1>
			<p>Sorry, that page doesn't exists</p>
		</div>
	</div>


{% endblock %}
