{% extends "base.html.twig" %}

{% block title %}Sign up
{% endblock %}

{% block body %}

	<h1>Sign up</h1>

	<p>Success! Your account is now active. Please
		<a href="/login">log in</a>
	</p>


{% endblock %}
