{% extends "base.html.twig" %}

{% block title %}Sign up
{% endblock %}

{% block body %}
	<div class="col-md-6 mx-auto">
		<div class="card card-body bg-light mt-5 text-center">
			{% include "partials/_flash.html.twig" %}


			<h3 class="card-title">Sign up</h3>

			<p>Success! Your account is now active. Please
				<a href="{{APP_ROOT}}login">log in</a>

			</p>


		</div>
	</div>
{% endblock %}
