{% extends "base.html.twig" %}

{% block title %}Sign up
{% endblock %}

{% block body %}
	<div class="col-md-6 mx-auto">
		<div class="card card-body bg-light mt-5">
			<h2 class="text-center">
				Create An Account
			</h2>
			<p class="text-center">Please fill out this form to register with us</p>

			<form id="formSignup" action="/signup/create" method="post">
				{% if user.errors is not empty %}
					<p>Errors:</p>
					<ul>
						{% for error in user.errors %}
							<li>{{ error }}</li>
						{% endfor %}
					</ul>
				{% endif %}
				<div class="form-group">
					<label for="inputName">Name:</label>
					<input value="{{ user.name }}" id="inputName" name="name" placeholder="name" type="text" autofocus required class="form-control form-control-lg">
				</div>
				<div class="form-group">
					<label for="inputEmail">Email address:
					</label>
					<input value="{{ user.email }}" id="inputEmail" name="email" placeholder="email" type="email" required class="form-control form-control-lg">
				</div>
				<div class="form-group">

					<label for="inputPassword">Password:</label>
					<div class="input-group">
						<input id="inputPassword" name="password" placeholder="password" type="password" required class="form-control form-control-lg" data-toggle="password">
						<div class="input-group-append">
							<span class="input-group-text">
								<i class="fa fa-eye"></i>
							</span>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col">
						<input type="submit" value="Register" class="btn btn-success btn-block">
					</div>
					<div class="col">
						<a href="/login" class="btn btn-light btn-block">Have an account? Login</a>
					</div>
				</div>
			</form>


		</div>
	</div>

{% endblock %}
