{% extends "base.html.twig" %}

{% block title %}Sign up
{% endblock %}

{% block body %}

	<h1>Sign up</h1>

	<p>Sorry, something went wrong, please try again
		<a href="{{APP_ROOT}}login">log in</a>
	</p>


{% endblock %}
