{% extends "base.html.twig" %}

{% block title %}Sign up
{% endblock %}

{% block body %}
	<div class="col-md-6 mx-auto">
		<div class="card card-body bg-light mt-5 text-center">
			{% include "partials/_flash.html.twig" %}


			<h3 class="card-title">Success!</h3>
			<p>Please check your email to activate your account.</p>
		</div>
	</div>
{% endblock %}
