{% extends "base.html.twig" %}

{% block title %}Forgot password
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-md-6 mx-auto">
			<div class="card card-body bg-light mt-5">
				<h2 class="text-center">
					Password reset
				</h2>
				<p class="text-center mt-3">Please check your email</p>
			</div>
		</div>
	</div>
{% endblock %}
