{% extends "base.html.twig" %}

{% block title %}Forgot password
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-md-6 mx-auto">
			<div class="card card-body bg-light mt-5">
				<p>Password link invalid or expired, please click to request another one
					<a href="{{APP_ROOT}}password/forgot">here</a>

				</p>
			</div>
		</div>
	</div>
{% endblock %}
