{% extends "base.html.twig" %}

{% block title %}
	Posts
{% endblock %}

{% block body %}
	{% include "partials/_flash.html.twig" %}
	<div class="row">
		{% if currentUser %}
			<div class="col-md-9 mb-3">
				<a href="{{ APP_ROOT }}posts/new" class="btn btn-primary pull-right">
					<i class="fa fa-pencil"></i>
					Add Post
				</a>
			</div>
		{% endif %}
	</div>
	<div class="row">
		{% include "partials/_hashtags_section.html.twig" %}
		<div class="col-lg-8 col-md-11 mb-3">
			{% include "partials/_posts_section.html.twig" %}
			{% include "partials/_pagination.html.twig" %}
		</div>
		{% include "partials/_comments_section.html.twig" %}
	</div>
{% endblock %}
