{% extends "base.html.twig" %}

{% block title %}Error
{% endblock %}

{% block body %}
	<div class="card card-body bg-light mt-3">
		<div class="text-center">
			<h1>An error occurred</h1>
			<p>Sorry, an error has occured</p>
		</div>
	</div>

{% endblock %}
