<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/css/style.css">
		<script defer src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
		<script defer src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>
		<script defer src="/js/hideShowPassword.min.js"></script>
		<script defer src="/js/validate.js"></script>
		<title>
			{% block title %}{% endblock %}
		</title>
	</head>
	<body>

		<nav>
			<ul>
				<li>
					<a href="/">Home</a>
				</li>
				{% if currentUser.name %}
					<li>
						<a href="/profile/show">Profile</a>
					</li>
					<li>
						<a href="/logout">Log out</a>
					</li>
				{% else %}
					<li>
						<a href="/login">Log in</a>
					</li>

				{% endif %}
			</ul>
		</nav>


		{% for message in flashMessages %}
			<div class="alert alert-{{ message.type }}">
				{{ message.body }}
			</div>
		{% endfor %}


		{% block body %}{% endblock %}
	</body>
</html>
