<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

		<script defer src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

		<script defer src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

		<link rel="stylesheet" href="/css/style.css">

		<script defer src="/js/hide-password-min.js"></script>

		<script defer src="/js/validate.js"></script>
		<title>
			{% block title %}{% endblock %}
		</title>
	</head>
	<body>
		{% include "navbar.html.twig" %}
		<div class="container">
			<div class="row">
				<div class="col">
					{% for message in flashMessages %}
						<div class="alert alert-{{ message.type }}">
							{{ message.body }}
						</div>
					{% endfor %}
					{% block body %}{% endblock %}
				</div>
			</div>
		</body>
	</body>
</html></div></body></html>
